<h2>Bonjour,</h2>

<p>Un de vos amis souhaite partager avec vous un coup de cœur de voyage sur le site <%= link_to "ShareYourTrip.fr", root_url %>.</p>

<p>Cliquez <%= link_to "ici", @url %> pour découvrir son coup de cœur!</p>

<p>A très bientôt,<br>
Julien et Benoit<br>
Cofondateurs de <%= link_to "ShareYourTrip.fr", root_url %></p>
