<h1>Bienvenue sur ShareYourTrip!</h1>

<p>Bienvenue sur ShareYourTrip,</p>
<p>Vous allez désormais pouvoir poster vos coups de coeur de vos précédents voyages et construire les itinéraires des prochains !</p>

<p>En espérant très vite voir tout ce que vous allez partager sur le site,</p>
<p>Cordialement,<br>Toute l'équipe ShareYourTrip.</p>
