/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.home-content {
  padding-top: 55px;

  .feature {
    margin: 15px auto 0;
    width: 80%;
    color: #828282;
  }

  h2 {
    position: relative;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    color:#828282;
  }
}

.block-contain {
  position: relative;
  padding-bottom: 80px;

  .card-container {
    padding: 40px;
    margin-bottom: 30px;
  }

  .banner-bottom-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 120px;
    bottom: 0;
    background-color: #F38181;

    a,
    a:active,
    a:focus {
      padding: 15px 30px;
      border: 1px solid #fff;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      border-radius: 3px;
      background-color: transparent;
      text-decoration: none;
      @include transition(all, 0.3s, ease-in-out);

      &:hover {
        color: #F38181;
        background-color: #fff;
      }

      i {
        margin-right: 5px;
      }
    }
  }
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  background-color: #fff;
  padding-top: 70px;
}

.banner {
  color: white;
  text-align: center;
  height: 85vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.fa-heart {
  margin-right: 10px;
}

.btn-home {
  padding: 15px 30px;
  color: #fff;
  border: none;
  background-color: #F38181;

&:hover {
        color: #fff;
      }

      }
// .card {
//   height: 275px;
//   text-shadow: 0 1px 3px rgba(0,0,0,0.6);
//   background-size: cover;
//   color: white;
//   position: relative;
//   padding: 15px;

// }
// .card-user {
//   position: absolute;
//   right: 10px;
//   top: 10px;
// }
// .card-category {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   font-size: 10px;
//   text-transform: uppercase;
// }
// .card-description {
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
// }
// .card-description h2 {
//   font-size: 24px;
// }
// .card-description p {
//   font-size: 13px;
//   }
// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   width: 100%;
//   z-index:2;
//   background: black;
//   opacity: 0;
// }
// .card-link:hover{
//   opacity: 0.1;
// }

.avatar-radius{
  border-radius: 50%;
}

.text-center{
  margin-bottom: 45px;
}
.new-pref {
  color: black;
}
