/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.home-content {
  padding-top: 55px;
  font-family: "Raleway";
  font-weight: 300;

  .feature {
    margin: 15px auto 0;
    width: 80%;
    color: #828282;
    font-size: 20px;
  }

  h2 {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    color:#828282;
  }
}

.block-contain {
  position: relative;
  padding-bottom: 80px;

  .card-container {
    padding: 40px;
    margin-bottom: 30px;
  }

  .banner-bottom-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 120px;
    bottom: 0;
    background-color: #F38181;

    a,
    a:active,
    a:focus {
      padding: 15px 30px;
      border: 1px solid #fff;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      border-radius: 3px;
      background-color: transparent;
      text-decoration: none;
      @include transition(all, 0.3s, ease-in-out);

      &:hover {
        color: #F38181;
        background-color: #fff;
      }

      i {
        margin-right: 5px;
      }
    }
  }
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

.Site-content {
  flex: 1;
  background-color: #fff;
  position: relative;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.banner-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  padding-left: 15%;
  h1 {
    font-family: "Raleway";
    font-weight: 300;
    text-align: center;
    font-size: 35px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
  }
}

.btn-home {
  padding: 15px 30px;
  color: #fff;
  border: none;
  background-color: #F38181;

  &:hover {
    color: #fff;
  }
}

.avatar-radius{
  border-radius: 50%;
}

.text-center{
  margin-bottom: 45px;
}
