
<span class="Footer-social">
  <a href="https://twitter.com/WillmerWTR" class="twitter-follow-button" data-show-count="true" data-lang="en">@WillmerWTR</a>
</span>
<div class="Footer-credits">
  <span class="Footer-credit">Created and maintained by Willmer.</span>
</div>
