<div class="Footer-credits">
  <span class="Footer-credit"><a href="#" data-lang="fr">|  À propos  |</a></span>
  <span class="Footer-credit"><%= link_to "|  Nous contacter  |", contact_path %></span>
  <span class="Footer-credit"><a href="#" data-lang="fr">|  Vie privée & Sécurité  |</a></span>
</div>
<br>
<div class="lucky">
|  Fait avec <span class="luckycolor">♣</span> à Bordeaux  |
</div>
