<div class="Footer-credits">
  <span class="Footer-credit"><a href="#" class="twitter-follow-button" data-show-count="true" data-lang="en">|  About Us  |</a></span>
  <span class="Footer-credit"><a href="#" class="twitter-follow-button" data-show-count="true" data-lang="en">|  Contact Us  |</a></span>
  <span class="Footer-credit"><a href="#" class="twitter-follow-button" data-show-count="true" data-lang="en">|  Privacy & Security  |</a></span>
</div>
<br>
<div class="lucky">
|  Made with <span class="luckycolor">♣</span> at Bordeaux  |
</div>
