<!-- Button trigger modal -->



  <%= link_to t(".sign_in", default: "Connecte toi et partage dès maintenant!"), new_user_session_path, class: "btn btn-primary btn-lg fa fa-heart" %>

<!-- Modal -->

<% content_for :after_js do %>
  <script>
      $(document).ready(function(){
        $('<div class="attachinary-input"></div>').bind('fileuploaddone', function(e, data) {
          console.log("fini");
        });
      });
  </script>
<% end %>
