<%= link_to experience.title, experience %>
 <div class="rating">
   <span class="average-rating">
      <%= render "shared/rating", rating: experience.average_rating %>
   </span>
 </div>
 <%= link_to experience do %>
  <%= cl_image_tag(experience.photos[0].path, height: 50) %>
 <% end %>
