<% @roadmaps.each do |roadmap| %>
<%= link_to roadmap do %>
<div class="polaroid text-center">
  <img src="http://placehold.it/260">
  <div class="polaroid-info">
    <div class="polaroid-cities">
      <p class="pull-right">
        </p>
      <p class="pull-left">

      </p>
    </div>
    <div class="polaroid-dates">
         <div><%= title(roadmap) %></div>
         <% if roadmap.start_date && roadmap.end_date %>
          <div><%= roadmap.start_date %> - <%= roadmap.end_date %></div>
        <% end %>
    </div>
  </div>
</div>
<% end %>
<% end %>
