

<div>
  <img src="http://placehold.it/300">
  <p class="polaroid-info">
  <p class="polaroid-cities">
  <p class="left">
  <p class="right">
  <p class="polaroid-dates">
  <p class="polaroid-">
  <p class="polaroid-cities">
</div>
