<div class="navbar-wagon-search">

  <%= simple_form_for :search, url: experiences_path, method: 'get', html: { class: 'form-search' } do |f| %>
  <%= f.input_field :address, id: "user_input_autocomplete_address", placeholder: "Pays/villes.", class: "input-medium search-query" %>
  <%= f.submit "Find!", class: "btn" %>
<% end %>

  <!-- Include Google Maps JS API -->
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBCoDjqf-9l5d0f0LoOhPQuHSOMaKKP7-0">
  </script>

</div>
