<div class="navbar-wagon-search">

  <%= simple_form_for :search, method: :get, url: experiences_path, class: "navbar-wagon-search-input" do |f| %>
    <%= f.input :city, input_html: { id: "user_input_autocomplete_address" }, placeholder: "Pays/villes." %>
    <%= f.submit "Cherchez un coup de coeur" %>
  <% end %>>

  <!-- Include Google Maps JS API -->
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBCoDjqf-9l5d0f0LoOhPQuHSOMaKKP7-0">
  </script>

</div>
