<div class="navbar-wagon-search">

  <form class="navbar-wagon-search-input">
    <input id="" placeholder="Pays/villes.">
  </form>

  <!-- Include Google Maps JS API -->
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBCoDjqf-9l5d0f0LoOhPQuHSOMaKKP7-0">
  </script>

</div>
