.parameters {
  padding: 20px;
  margin-bottom: 15px;
  margin-top: 20px;
  background-color: #F4F4F4;
  border-radius: 3px;
  height: 380px;

  .roadmap_travellers_num {
    width: 100%;
  }

  .formulaire{
    text-align: center;

    .imput#ro_end_date {
      width: 100%;
    }
  }

  input {
    text-align: center;
    width: 100%;
  }
}

.experiences-roadmap {
  padding: 20px;
  border-radius: 3px;
  background-color: #F4F4F4;
  margin-top: 20px;
  margin-bottom: 40px;
  height: calc(100vh - 60px - 70px);
  overflow-y: auto;
}

.itinerary {
  padding: 20px;
  border-radius: 3px;
  background-color: #F4F4F4;
  height: calc(100vh - 70px - 40px - 10px - 20px - 380px);
  overflow-y: auto;

  .roadmap-activity {
    width: 100%;
    margin-top: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;


   .left{
    display: flex;
    align-items: center;
      p {
        margin-left: 10px;
        margin-bottom: 0;
      }
      a {
        display: inline;
      }
    }
    .right{
      display: flex;
      align-items: center;
      input {
        text-align: center;
        width: 100px;
        display: inline;
      }
    }
  }
}
