<style>
  h1 + div p {
    margin-left: 10px;
  }
  h1 + div h2 {
    margin-left: 10px;
  }
  h2 + div p {
    margin-left: 20px;
  }
  h2 + div h3 {
    margin-left: 20px;
  }
  h3 + div p {
    margin-left: 30px;
  }
  h3 + div h4 {
    margin-left: 30px;
  }
  h4 + div p {
    margin-left: 40px;
  }
  h4 + div h5 {
    margin-left: 40px;
  }
  h5 + div p {
    margin-left: 50px;
  }
</style>

<div style="padding-left: 20px;">
  <h2>CONDITIONS GENERALES D'UTILISATION</h2>
  <div>
    <p>
      SHAREYOURTRIP, Tous droits réservés ® Version du 05 avril 2016
    </p>

    <h3>PRÉAMBULE</h3>
    <div>

      <p>SHAREYOURTRIP propose aux Utilisateurs une plateforme Internet accessible à l’adresse

        url www.shareyourtrip.fr (« la Plateforme») ayant pour objet :
        <ul>
          <li>de les accompagner dans la préparation de voyages</li>

          <li>de partager avec d’autres Utilisateurs des éléments relatifs à tous voyages</li>
        </ul>
      </p><p>
      A cette fin, l’Utilisateur dispose, sur la Plateforme d’un espace qui lui est réservé (ci-après

      « Espace Personnel »).
    </p><p>
    L'Utilisateur se voit ainsi offrir la possibilité de créer son voyage, de consulter les différentes

    pages créées par SHAREYOURTRIP et les Utilisateurs, d'éditer et créer des contenus

    (photographies, « post », avis…), d'échanger avec les autres Utilisateurs à travers des

    commentaires ou via l'accès à un service de messagerie interne, de réserver des hôtels,

    restaurants, moyens de transport, loisirs et spectacles via les Partenaires de

    SHAREYOURTRIP. 
  </p><p>
  Les présentes conditions générales régissent la relation entre la société SHAREYOURTRIP et
</p><p>
Elles sont applicables à l'Utilisateur à compter :
<ul>
  <li>soit de son Inscription directement sur la Plateforme ou de son Inscription via une

    plateforme internet tierce, quelles que soient les modalités d’utilisation (dekstop),</li>

    <li>soit de l’utilisation des Services et de la navigation sur la Plate-forme, quelles que soient

      les modalités d’utilisation (dekstop).</li>
    </ul>
  </p><p>
  SHAREYOURTRIP se réserve le droit de modifier à tout moment les présentes conditions

  générales, dont la version en vigueur est celle accessible aux internautes sur la Plate-forme.
</p>
</div>
<h3>ARTICLE 1 - Définitions</h3>
<div>
  <p>
    Compte : Ensemble des données personnelles relatives à un Utilisateur, comprenant

    notamment ses éléments d’identité ainsi que ses Identifiants de connexion, lui permettant

    d’accéder aux Services
  </p><p>

  Contenu : Tout élément publié, envoyé ou partagé par un Utilisateur

  Espace personnel : Espace mis à la disposition de l'Utilisateur notamment pour la création de

  ses voyages, le stockage et l'archivage de ses photographies ainsi que la visualisation des

  éléments partagés par l’Utilisateur ou par ses amis
</p><p>
Identifiant : Suite de caractères choisie par l'Utilisateur permettant son identification et

l’accès aux Services (Username et mot de passe)
</p><p>
Messagerie : Rubrique de l’Espace personnel permettant la réception et l'envoi de messages

mis à la disposition de l'Utilisateur
</p><p>
Partenaire / Affilié : Ensemble des prestataires auxquels est liée SHAREYOURTRIP

notamment les sites internet de réservation d'hébergement, de restauration, d’événements ou

de transport, les hôteliers, ou tout autres types de prestataires liés au domaine d’activité de

SHAREYOURTRIP
</p><p>
Services : Ensemble des Prestations offertes par SHAREYOURTRIP telles que notamment

définies à l'article 3 des Présentes
</p><p>
Utilisateur : Toute personne physique ou morale ayant créé un Compte sur la Plateforme

SHAREYOURTRIP ou utilisant les Services de la Plate-forme
</p>
</div>
<h3>ARTICLE 2 – Conditions d'accès</h3>
<div>
  <p>
    L'utilisation de l’intégralité des Services nécessite une inscription et la création d’un Compte

    L'Utilisateur s'engage à ne pas créer ou utiliser d'autres comptes que celui initialement créé,

    que ce soit sous sa propre identité ou celle de tiers, sauf autorisation expresse et spécifique de

    SHAREYOURTRIP.
  </p><p>
  Pour accéder aux Services, l'Utilisateur doit mentionner les informations sincères et véritables

  relatives à son nom, son âge, son adresse email, l’adresse de son domicile, et ses coordonnées

  L'utilisateur choisit un Identifiant de son choix.
</p><p>
Toutefois, SHAREYOURTRIP se réserve le droit de refuser/retirer le pseudonyme s'il porte

atteinte aux droits des tiers, et notamment s'il résulte de son usage des faits de contrefaçons de

droits d'auteur, de marques ou si l'Utilisateur usurpe l'identité d'un tiers.
</p><p>
L’inscription est réputée complète dès l’acceptation des Conditions Générales d'Utilisation ou

l’accès aux Services de la Plateforme via une plateforme internet tierce (par exemple

En acceptant d’utiliser les Services de la Plate-forme, l’Utilisateur accepte d’être engagé par

les présentes conditions générales, sans restriction ni réserve et reconnaît en avoir pris

connaissance dans leur intégralité. Toute inscription « sous réserve » est considérée comme

nulle et non avenue.
</p><p>
Si une personne/internaute n’accepte pas tout ou partie des clauses des présentes conditions

générales, elle/il se doit de ne pas naviguer sur la Plateforme ni d’utiliser les Services.
</p><p>
L'Utilisateur peut également créer un compte à partir d’une plateformeinternet tierce; auquel

cas les données nécessaires à la création du Compte seront récupérées et utilisées par

SHAREYOURTRIP.
</p><p>
L’inscription est achevée lorsque l’internaute a choisi un nom d’utilisateur et un mot de passe

et a cliqué sur le bouton « Sign up » ou le bouton « Me connecter».
</p>

<h4>2.3. Mot de passe</h4>
<div>
<p>
  L'Utilisateur doit créer un mot de passe que SHAREYOURTRIP lui recommande de sécuriser

  par l'emploi d'une combinaison de lettres majuscules et minuscules, de chiffres et de

  L'Utilisateur est seul responsable de la protection de son mot de passe et de l'utilisation de son

  Compte SHAREYOURTRIP.
</p><p>
En cas de perte du mot de passe, la Plateformepropose à l’Utilisateur une fonctionnalité lui

permettant de recevoir des informations par courriel ; à l’adresse email renseignée par

l’Utilisateur lors de l’ouverture de son Compte, pour créer un nouveau mot de passe.

La création d’un nouveau mot de passe écrase l’ancien.
</p>
</div>
<h4>2.4. Notifications</h4>
<div>
<p>
  En fournissant son adresse email sur SHAREYOURTRIP, l'Utilisateur accepte expressément

  que celle-ci soit utilisée afin de lui envoyer des notifications concernant les Services ainsi que

  des notifications publicitaires des Partenaires / Affiliés et que celle-ci puisse être

  communiquée par SHAREYOURTRIP à des tiers. 
</p><p>
SHAREYOURTRIP se réserve le droit de suspendre ou de clôturer le Compte d’un Utilisateur

à tout moment, en particulier lorsque l’Utilisateur dont s’agit contrevient aux stipulations des

présentes, ainsi qu’aux dispositions légales et règlementaires en vigueur.
</p>
</div>
<h3>ARTICLE 3 – Services </h3>
<div>
  <p>
    La liste des Services énoncés ci-après est fournie à titre indicatif ; SHAREYOURTRIP

    pouvant à son gré modifier la Plateforme pour ajouter, modifier ou retirer des Services.
  </p>
  </div>
  <h4>3.1. Création de voyages</h4>
  <div>
  <p>
    L'Utilisateur peut créer des coups de cœur de voyages, carnets de voyages, itinéraires et la

    planification via l'interface dédiée de SHAREYOURTRIP qui permet également de créer des

    pages personnelles accessibles à des adresses URL par sous-domaines du nom de domaine

    www.shareyourtrip.com, sous réserve de disponibilité.
  </p><p>
  Les outils de création de voyages mis à la disposition de l'Utilisateur se composent

  notamment d’un catalogue des destinations agrémenté d’avis et de notes Utilisateurs,

  hébergements, loisirs et transports, d'une carte, ainsi que d'un outil de planification.

  Les catalogues de SHAREYOURTRIP comprennent les catalogues de ses Partenaires et

  Affiliés, les informations contenues dans ces catalogues, ainsi que les contenus directement

  publiés par les Utilisateurs.
</p><p>
L'Utilisateur bénéficie par ailleurs d'un espace dédié pour l'enregistrement et le classement de

ses photographies, qu'il peut diffuser aux autres Utilisateurs en fonction du niveau de

confidentialité établi dans ses paramètres de confidentialité.
</p>
</div>
<h4>3.2. Services de réservation et suggestions</h4>
<div>
<p>
  SHAREYOURTRIP propose à ses Utilisateurs, selon les critères renseignés lors de la création

  d'un voyage, de réserver, directement sur le site du Prestataire ou de l'un des Partenaires de

  SHAREYOURTRIP, des prestations d'hébergement, de transport, de restauration ou de loisirs

  (concerts, activités sportives, excursions…).
</p><p>
SHAREYOURTRIP peut émettre des suggestions à l'Utilisateur lors de la création de son

Celles-ci sont formulées à titre purement informatif et n'engagent ni l'Utilisateur ni

SHAREYOURTRIP.
</p><p>
A l’exception des suggestions résultant d’accords commerciaux entre SHAREYOURTRIP et

des Partenaires / Affiliés (suggestions qui sont mentionnées comme telles), les suggestions

sont effectuées de manière neutre, à partir des critères renseignés lors de la création du

voyage, sur la base des avis émis par les autres Utilisateurs, ainsi que par les Amis de

l'Utilisateur, et du classement établi automatiquement par SHAREYOURTRIP (algorithme

logiciel permettant d’effectuer un classement selon la popularité, hors de toute intervention

L'Utilisateur est informé que SHAREYOURTRIP n'intervient à aucun moment dans la

relation contractuelle créée entre lui et le Partenaire de SHAREYOURTRIP.
</p><p>
En effectuant une réservation auprès d'un établissement ou d'un Partenaire / Affilié (tels que

Booking.com, Expedia, Skyscanner, Amazon, etc.), l'Utilisateur est informé de ce que seules

les conditions contractuelles du Partenaire/ Affilié et les stipulations particulières

éventuellement convenues entre lui et ce Partenaire / Affilié, seront applicables à leur relation

contractuelle, relation à laquelle SHAREYOURTRIP est un tiers.
</p><p>
Il appartient à l'Utilisateur de prendre connaissance des Conditions générales de vente du

SHAREYOURTRIP ne saurait être tenu responsable en cas de défaillance de ce Partenaire /

Affilié dans l'accomplissement de ses obligations et notamment en cas de retard, annulation

ou non-présentation.
</p>
</div>
<h4>3.3. Utilisation des forums de discussion, messagerie interne et petites</h4>
<div>
<p>
  SHAREYOURTRIP peut proposer aux Utilisateurs de contribuer à des forums de discussions

  ou des groupes thématiques afin de diffuser des récits de leurs voyages et plus généralement

  de mettre en ligne tout type de contenus légalement autorisés.
</p><p>
SHAREYOURTRIP met à disposition un service d’annonces entre Utilisateurs permettant

aux Utilisateurs de SHAREYOURTRIP de déposer des petites annonces entre Utilisateurs.

L'utilisation de ces espaces de discussion, messagerie interne, groupes et service de petites

annonces doit se faire dans le strict respect des Lois et Règlementation en vigueur. Chaque

Utilisateur reste seul responsable de l’utilisation qu’il fait de ces outils et des contenus qu’il

met en ligne, à l’exclusion de toute responsabilité de SHAREYOURTRIP à ce titre.
</p><p>
En Particulier, l'Utilisateur est informé que SHAREYOURTRIP n'exerce aucun contrôle ni

filtrage systématique a priori sur les contenus diffusés par les Utilisateurs, mais se réserve la

possibilité de retirer, à tout moment, tout contenu qu’elle estimerait illicite, de manière

spontanée ou après réception d'une notification dans les formes prévues à l'article 8 des
</p>
</div>
<h4>3.4. Géolocalisation</h4>
<div>
<p>
  L'Utilisateur a la faculté d'activer lors de ses déplacements les Services de géolocalisation de

  SHAREYOURTRIP.
</p><p>
Ceux-ci permettent à l’Utilisateur de se voir notifier sous forme de suggestion, sur son

équipement dekstop ou mobile (smartphone ou autre), des propositions de biens et services

fournis par des tiers à proximité de lieu de situation de l’Utilisateur, et également de partager

avec d'autres Utilisateurs, selon les paramètres de confidentialité édités, sa position et ses

L'Utilisation des Services de géolocalisation relève de la seule décision de l'Utilisateur à

l'exclusion de toute intervention de SHAREYOURTRIP.
</p><p>
</div>
<h4>3.5. Paramètres de confidentialité – Données personnelles</h4>
<div>
<p>
  Les données personnelles sont collectées par le site SHAREYOURTRIP.
</p>

<h5>3.5.1. Type de données recueillies par SHAREYOURTRIP</h5>
<div>
  <ul>
    <li> Adresse postale</li>

    <li> Adresse électronique</li>

    <li> Numéro de téléphone</li>

    <li> Date de naissance</li>

    <li> Situation familiale</li>

    <li> Adresse URL du site internet personnel</li>
  </ul>
  </div>
  <h5>3.5.2. Utilisation des données personnelles</h5>
  <div>
    <ul>
      <li> gestion et suivi des comptes des Utilisateurs,</li>

      <li> fins commerciales : pour élaborer des statistiques commerciales, constituer et gérer</li>

      des fichiers de prospects, pour réaliser des actions de prospection, de communication

      et de promotion

      <li> sollicitations et messages promotionnels de SHAREYOURTRIP. Dans le cas où</li>

      l’Utilisateur ne le souhaite pas, il peut le refuser en cochant une case dans la gestion de

      son profil (« OPT OUT »),

      <li> cession à des partenaires commerciaux de SHAREYOURTRIP.</li>
    </ul>
    </div>
    <h5>3.5.3. Durée de conservation</h5>
    <div>
      <p>
        Pas de conservation au-delà de la « Durée nécessaire » (durée contractuelle augmentée de la

        durée de la prescription légale)
      </p>
      </div>
      <h5>3.5.4.- Cookies et navigation sur la Plate-forme</h5>
      <div>
        <p>
          L’Utilisateur est informé au préalable de l’implantation de cookies.
        </p>
      </div>
      <h3>ARTICLE 4 – Comptes Premium </h3>
      <div>
        <p>
          SHAREYOURTRIP se réserve la possibilité de créer des « Comptes Premium », pour certains

          Utilisateurs qui y souscriront spécialement.
        </p>
      </div>
      <h3>ARTICLE 5 - Responsabilités</h3>
      <div>

</div>
      <h4>5.1. Informations mises en ligne par SHAREYOURTRIP</h4>
      <div>
        <p>
          SHAREYOURTRIP met à la disposition de l'Utilisateur des informations pratiques dont il

          peut avoir besoin pour préparer son voyage telles que : le climat, les visas nécessaires, les

          coordonnées des ambassades et consulats, la monnaie et le taux de change, les risques

          sécuritaires, sanitaires et naturels.
        </p><p>
        Pour l'essentiel, ces informations sont fournies à SHAREYOURTRIP par le Ministère des

        Affaires Étrangères.
      </p><p>
      SHAREYOURTRIP ne peut toutefois garantir l’exactitude et la complétude de ces

      informations diffusées sur sa Plateforme ni la permanence de son bon fonctionnement ou sa

      totale sécurité informatique. Compte tenu de leurs natures, les informations rendues

      accessibles par SHAREYOURTRIP sont sujettes à modification sans préavis. Elles ne sont

      fournies qu’à titre indicatif et il appartient à l’Utilisateur de les vérifier. Si

      SHAREYOURTRIP actualise ces informations pour qu’elles demeurent à jour, elle n’est

      tenue que d’une obligation de moyens.
    </p><p>
    En tout état de cause, l'Utilisateur est vivement invité lors de la préparation de son voyage à

    directement se renseigner auprès des administrations et autorités compétentes lors de la

    préparation de son voyage.
  </p><p>
  SHAREYOURTRIP ne saurait être tenue responsable si une information qui lui a été fournie

  par un tiers s’avérait inexacte ; il appartient à la personne qui se prétend victime de se plaindre

  directement auprès de ce tiers.
</p>
</div>
<h4>5.2. Contenus diffusés par les Utilisateurs</h4>
<div>
<p>
  SHAREYOURTRIP ne garantit pas l'exactitude ni la licéité des Contenus diffusés par ses

  Utilisateurs sur lesquels elle n'exerce aucun contrôle a priori.

  En conséquence, l'utilisation des informations et contenus diffusés et publiés sur

  SHAREYOURTRIP, ne peut engager la responsabilité de SHAREYOURTRIP pour quelque
</p>
</div>
<h4>5.3. Responsabilité de l'Utilisateur</h4>
<div>
<p>
  L'Utilisateur est seul responsable des Contenus qu'il publie et de son Utilisation des Services

  de SHAREYOURTRIP, sur lesquels SHAREYOURTRIP n'exerce aucun contrôle a priori.

  En publiant tout contenu sur SHAREYOURTRIP, l'Utilisateur garantit SHAREYOURTRIP

  qu'il est le seul titulaire de l'ensemble des droits s'y attachant.
</p><p>
La véracité, la validité et le droit d’utilisation de tout contenu sont assumés par l'Utilisateur

qui a publié ce Contenu sur la Plate-forme.
</p>
</div>
<h4>5.4. Liens externes</h4>
<div>
<p>
  Les Services peuvent contenir des liens hypertextes pointant vers des sites ou des ressources

  de tiers sur lesquels SHAREYOURTRIP n'exerce aucun contrôle.

  SHAREYOURTRIP n'est pas responsable du contenu, de la sécurité ou de la fiabilité de ces

  L'utilisation de ces sites par l'Utilisateur se fait à ses risques et périls.
</p>
</div>
<h4>5.5. Sort des Contenus en cas de clôture de comptes Utilisateurs</h4>
<div>
<p>
  Il appartient aux Utilisateurs d’effectuer des sauvegardes des éléments et Contenus qu’il met

  en ligne sur la Plate-forme.

  La clôture d’un compte Utilisateur pouvant conduire SHAREYOURTRIP à la suppression de

  ces éléments et Contenus, l’Utilisateur concerné et tous autres Utilisateurs ne sont pas fondés

  à former contre SHAREYOURTRIP une réclamation. La responsabilité

  d’SHAREYOURTRIP ne pourra être recherchée à ce titre.
</p><p>
SHAREYOURTRIP fait ses meilleurs efforts pour assurer la sécurité des données et en

particulier les données personnelles des Utilisateurs, sans toutefois pouvoir garantir du risque

En cas de perte de ces données ou d’intrusion, un email d’information sera envoyé aux

Utilisateurs concernés.
</p><p>
Les données collectées par SHAREYOURTRIP sont conservées dans un environnement

Pour assurer cette sécurité, SHAREYOURTRIP a recours aux mesures suivantes :
<ul>
  <li> Protocole SSL (Secure Sockets Layer) </li>

  <li> Sauvegarde informatique</li>

  <li> Identifiant / mot de passe</li>
</ul>
</p>
</div>
<h4>5.7. Conversion de devises / taux de change</h4>
<div>
<p>
  La Plateforme SHAREYOURTRIP pourra permettre à l’Utilisateur de calculer un

  prévisionnel de budget de son voyage dans la devise de son choix.
</p><p>
Si SHAREYOURTRIP veillera à la mise à jour régulière sur la Plateforme des taux de

change, elle ne pourra pas garantir ni l'exactitude ni l’actualité de ces taux de change ; ces

informations lui étant fournies par des sociétés tierces.
</p><p>
Les taux seront fournis sur la Plateforme à titre indicatif et à des fins d'information. Ils seront

susceptibles d'être modifiés sans préavis.
</p><p>
En conséquence, l'Utilisateur devra vérifier l’exactitude les taux de change en vigueur, avant

d'effectuer toutes transactions ou de souscrire tout engagement contractuel.
</p>
</div>
<h4>5.8. Responsabilité des Utilisateurs et des Partenaires/ Affiliés</h4>
<div>
<p>
  SHAREYOURTRIP ne saurait être responsable de l’utilisation des données des Utilisateurs

  faites par les Partenaires / Affiliés ou par les Utilisateurs eux-mêmes.
</p>
</div>
<h3>ARTICLE 6 – Propriété intellectuelle</h3>
<div>

</div>
<h4>6.1. SHAREYOURTRIP</h4>
<div>
  <p>
    L'ensemble des droits de propriété intellectuelle s'attachant à la forme et au contenu de la

    Plateforme et notamment les informations, produits, documents et logiciels qu'elle contient,

    sont la propriété exclusive de la société SHAREYOURTRIP, à l'exception des contenus

    diffusés par les Utilisateurs.
  </p><p>
  Les marques et les logotypes figurant sur la Plateforme sont des marques déposées par

  SHAREYOURTRIP ou par des tiers. Toute reproduction, imitation ou usage, total ou partiel,

  de ces signes distinctifs par l'Utilisateur ou tout tiers, sans l’autorisation expresse de

  SHAREYOURTRIP ou des tiers concernés constitue un acte de contrefaçon de marque et de

  concurrence déloyale.
</p>
</div>
<h4>6.2. Licence de droits</h4>
<div>
<p>
  L'Utilisateur déclare qu’il est titulaire des droits de propriété intellectuelle des Contenus qu'il

  soumet, poste ou publie via les Services de SHAREYOURTRIP.
</p><p>
L'acceptation des présentes emporte toutefois la concession par l'Utilisateur à

SHAREYOURTRIP d'une licence d’utilisation mondiale, non exclusive et gratuite, de copier,

de reproduire, de modifier, d'adapter, de transmettre les Contenus qu'il publie sur tous

supports et par toutes méthodes connues ou à venir, que SHAREYOURTRIP en fasse une

utilisation à titre gratuit ou onéreux.
</p><p>
En particulier, l'Utilisateur concède expressément à SHAREYOURTRIP le droit de

reproduire en tout ou partie les photographies et images de ses Contenus qu’il a mis en ligne,

pour illustrer son site Internet ou sa Plate-forme, à des fins marketing ou promotionnelles, sur

tous supports en ce compris son site internet, les réseaux sociaux édités par des tiers, les

lettres de support ou tout autre moyen de communication publicitaires ou supports

commerciaux, ainsi que les avis postés par l'Utilisateur dans les mêmes conditions.
</p><p>
</div>
<h3>ARTICLE 7 – Notifications des contenus illicites</h3>
<div>

  Il est rappelé que SHAREYOURTRIP n'exerce pas de contrôle a priori sur les contenus

  diffusés par les Utilisateurs.
</p><p>
SHAREYOURTRIP a la qualité d’hébergeur au sens de la loi pour la confiance dans

l’économie numérique n°2004-575 du 21 juin 2004.
</p><p>
Conformément à l'article 6-I-5 de la loi n° 2004-575 du 21 juin 2004, toute personne qui

estime qu'un contenu diffusé par un Utilisateur porte atteinte à l'un quelconque de ses droits

peut signaler à SHAREYOURTRIP le dit contenu.
</p><p>
La notification du contenu illicite doit comporter les éléments suivants :
<ul>
  <li>La date de la notification ;</li>

  <li>Si le notifiant est une personne physique : ses nom, prénoms, profession, domicile,

    nationalité, date et lieu de naissance ; si le requérant est une personne morale : sa forme, sa

    dénomination, son siège social et l'organe qui la représente légalement ;</li>

    <li>Les « nom » et « domicile » du destinataire ou, s'il s'agit d'une personne morale, sa

      dénomination et son siège social ainsi que son numéro SIRET ;</li>

      <li>La description des faits litigieux et leur localisation précise ;</li>

      <li>Les motifs pour lesquels le contenu doit être retiré, comprenant la mention des

        dispositions légales et des justifications de faits ;</li>

        <li>La copie de la correspondance adressée à l'auteur ou à l'éditeur des informations ou

          activités litigieuses demandant leur interruption, leur retrait ou leur modification, ou la

          justification de ce que l'auteur ou l'éditeur n'a pu être contacté.</li>
        </ul>
      </p><p>
      Toute notification doit être adressée à SHAREYOURTRIP à l'adresse suivante :
      <p style="text-align: center;">
        SHAREYOURTRIP

        Service contenus illicites

        120 rue prunier

        30000 Bordeaux

        France
      </p><p>
      Compte tenu de l'intérêt général attaché à la répression de l'apologie des crimes contre

      l'humanité, de la provocation à la commission d'actes de terrorisme et de leur apologie, de

      l'incitation à la haine raciale, à la haine à l'égard de personnes à raison de leur sexe, de leur

      orientation ou identité sexuelle ou de leur handicap ainsi que de la pornographie enfantine, de

      l'incitation à la violence, notamment l'incitation aux violences faites aux femmes, ainsi que

      des atteintes à la dignité humaine, toute personne ayant connaissance de contenus enfreignant

      les dispositions des cinquième et huitième alinéas de l'article 24 de la loi du 29 juillet 1881

      sur la liberté de la presse et aux articles 227-23 et 227-24 et 421-2-5 du code pénal est invitée

      à le faire connaître à SHAREYOURTRIP à l'adresse  email suivante :

      contact@shareyourtrip.fr, outre envoi d’un courrier postal à l’adresse précitée.

    </div>
    <h3>ARTICLE 8 – Informatique et libertés</h3>
    <div>
      <p>
        Conformément à l’article 32 de la loi n°78-17 relative à l’informatique, aux fichiers et aux

        libertés du 6 janvier 1978 modifiée, SHAREYOURTRIP, responsable de traitement, informe

        ses Utilisateurs qu’elle met en œuvre un traitement de données à caractère personnel les

        concernant. Les informations communiquées par les Utilisateurs peuvent être communiquées

        par SHAREYOURTRIP à des Partenaires / Affiliés ou toute autre destinataire à des fins

        commerciales et/ou publicitaires. Par son inscription, l’Utilisateur consent expressément à la

        cession de ses données personnelles.
      </p><p>
      L'Utilisateur est également informé que SHAREYOURTRIP recueille et collecte ses données

      de géolocalisation, ce à quoi il consent expressément.

      Les données de géolocalisation de l'Utilisateur sont systématiquement recueillies avec l'accord

      de l'Utilisateur qui publie et souhaite bénéficier des Services qui y sont liés. Elles sont

      accessibles aux autres Utilisateurs en fonction des paramètres de confidentialité édités par

      En application des articles 39 et suivants de la loi du 6 janvier 1978 modifiée, l'Utilisateur

      bénéficie d’un droit d’accès, d’interrogation, de modification, de rectification et de

      suppression des informations qui le concernent.
    </p><p>
    Si l'Utilisateur souhaite exercer ce droit ou obtenir l’accès aux informations le concernant, il

    doit s'adresser à SHAREYOURTRIP par email : contact@shareyourtrip.fr et doubler sa

    demande par courrier postal envoyé à l’adresse suivante :
  </p><p style="text-align: center;">
  SHAREYOURTRIP
</p><p style="text-align: center;">

Service Informatique et Libertés
</p><p style="text-align: center;">

120 rue prunier
</p><p style="text-align: center;">

30000 Bordeaux
</p><p style="text-align: center;">

France
</p>
</div>
<h3>ARTICLE 9 – Dispositions générales</h3>
<div>
  <p>
    Le fait qu'une clause quelconque des présentes Conditions Générales d'Utilisation devienne

    nulle, inopposable, caduque, illégale ou inapplicable du fait d'une loi, d'un règlement ou à la

    suite d'une décision de justice, ne pourra remettre en cause la validité, la légalité,

    l'applicabilité des autres stipulations des Conditions Générales d'Utilisation et n'exonérera pas

    l'Utilisateur de l'exécution de ses obligations contractuelles.
  </p><p>
  Dans le cas de fraude ou infraction caractérisée (notamment contrefaçon, recel, importation

  illégale), SHAREYOURTRIP a l’obligation de communiquer tous documents, informations et

  enregistrements dont il dispose, et notamment les identifiants, codes confidentiels et données

  personnelles des Utilisateurs concernés, aux organismes compétents chargés par la législation

  en vigueur de la répression desdites fraudes et infractions.
</p><p>
Pour toute question ou réclamation relative à un aux Services proposés par le Site,

l'Utilisateur peut contacter le Service Utilisateur :
</p><p style="text-align: center;">
SHAREYOURTRIP
</p><p style="text-align: center;">

Service Utilisateur
</p><p style="text-align: center;">

120 rue prunier
</p><p style="text-align: center;">

33000 Bordeaux
</p><p style="text-align: center;">

France
</p>
</div>
<h3>ARTICLE 10 – LITIGE ET DROIT APPLICABLE</h3>
<div>
  <p>
    Les présentes Conditions Générales d'Utilisation sont régies par le droit français. Elles sont

    rédigées en langue française. Dans le cas où elles seraient traduites en une ou plusieurs

    langues, seul le texte français ferait foi en cas de litige.
  </p><p>
  Tous les litiges auxquels les présentes Conditions Générales d'Utilisation pourraient donner

  lieu et notamment au titre de leur validité, interprétation, exécution, ou résiliation, leurs

  conséquences et leurs suites seront soumis au Tribunal dans le ressort duquel se trouve le

  siège social de SHAREYOURTRIP.
</p>
</div>
</div>
</div>
