<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.6) 100%), url('<%= image_path("background.jpg") %>');">
  <div class="banner-content">
    <h1>Ton Voyage t'a plu?</h1>
    <p>Un lieu, un restaurant, un guide ?</p>
    <%= link_to "Partage ton coup de Coeur", new_experience_path, class: "btn btn-primary btn-lg fa fa-heart" %>
  </div>
</div>

<h2 class="text-center"> Quelques coups de coeur</h2>
<div class="block-contain">
  <div class="container-fluid">
    <div class="row">
      <% @experiences.each do |experience| %>
        <div class="col-xs-12 col-sm-4">
          <%= render "shared/card", experience: experience %>
        </div>
      <% end %>
    </div>
  </div>
</div>
