<% content_for :navbar do %>
  <div></div>
<% end %>

<div style="height: 100vh; margin-top: -70px; background-image: url('<%= image_path("hiker-2.jpg") %>'); background-position: center top; display: flex; justify-content: center; align-items: center; font-family: 'Raleway', sans-serif;">
  <h1>Merci de votre intérêt ! Nous vous contacterons sous peu.</h1>
</div>

<% content_for :footer do %>
  <div></div>
<% end %>
