  <div class="review">
    <div class="author">
      <span class="username"><%= locals[:review].user.first_name.capitalize %></span>
    </div>
    <div class="review-content">
      <%= locals[:review].review %>
    </div>
    <div class="rating">
      <% (locals[:review].rating).times do %>
        <%= icon("star") -%>
      <% end %>
      <% (5-locals[:review].rating).times do %>
        <%= icon("star-o") -%>
      <% end %>
    </div>
  </div>
