<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Éditez votre coup de coeur.</h2>
      <%= render "shared/experience_form", experience: @experience, id: "edit_exp_autocomplete" %>
    </div>
  </div>
</div>
