<div class="container search-form">
  <div class="search-center">
    <%= render 'shared/search_input'%>
  </div>
</div>

<div class="block-contain">
  <div class="container-fluid">
    <div class="row card-container">
      <% @experiences.limit(6).each do |experience| %>
        <div class="col-xs-12 col-sm-4">
          <%= render "shared/card", experience: experience %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="banner-bottom-cta">
    <%= link_to wishlists_path do %>
      <i class="fa fa-heart"></i> <%= t ".mes coups de coeur", default: "Mes coups de coeur" %>
    <% end %>
  </div>
</div>
