<h2 class="text-center"> Mes Coups coeur de voyage</h2>
<div class="block-contain">
  <div class="container-fluid">
    <div class="row">
      <% @experiences.each do |experience| %>
        <div class="col-xs-12 col-sm-4">
          <%= render "shared/card", experience: experience %>
        </div>
      <% end %>
    </div>
  </div>
</div>
