.card {
  font-weight: 600;
  height: 240px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.6);
  background-size: cover;
  color: white;
  position: relative;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  border-radius: 5px;
  @include transition(all, 0.3s, ease-in-out);

  &:hover {
    box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  }
}
.card-user {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  top: 55px;
  left: 10px;
  text-align: left
}
.card-description h2 {
  font-size: 14px;


}
.card-description h3 {
  width: 90%;
  padding-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 25px;
  font-weight: 600;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;

}
.card-description p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.card-location {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10px;

  p {
    margin-left: 5px;
    font-size: 12px;
  }
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.avatar-radius{
  border-radius: 50%;
  border: 2px solid #fff;
}

.text-center{
  margin-bottom: 30px;
}

.rating {
  position: absolute;
  right: 10px;
  top: 10px;
}

.rating {
  position: absolute;
  right: 10px;
  top: 10px;
}
