.reviews {
  padding: 0 25px;
  margin: 0 auto;
  width: 100%;

  .review {
    margin: 5px 0;
    height: 125px;
    position: relative;
    background: white;
    box-shadow: none !important;

    &:first-of-type {
      background-color: #f4f4f4;
      border-radius: 3px;
    }

    &:not(:first-of-type){
      height: 90px;
    }

    .author {
      position: absolute;
      top: 5px;
      left: 5px;
      .username{
        line-height: 25px;
      }
    }

    .rating {
      position: absolute;
      color: #F38181;
      top: 50px;
      right: 10px;

      .fa{
        position: relative;
      }

      .fa:before{
        position: relative;
        z-index: 2;
      }
    }
  }
}

.average-rating {
  color: #F38181;
}
