/*
 *= require jquery-ui/datepicker
 */

// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

@import "experiences";
@import "wishlists";
@import "roadmaps";

.index-search-field {
  input[type="text"] {
    padding: 8px 20px;
    width: 320px;
  }

  input[type="submit"] {
    width: 150px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: $syt-brand;
    border: 1px solid $syt-brand;
    color: #fff;
    text-shadow: none;
    @include transition(all, 0.3s, ease-in-out);

    &:hover {
      background-color: rgba($syt-brand, 0.74);
    }
  }
  }
