// Place all the styles related to the Experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #F4F4F4;
}

.map-wrapper{
  height: calc(100vh - 395px);
  margin: 0 -15px;
}

.search-form {
  padding: 0;
  margin-top: 30px;

  .search-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: rgba($grey, 0.4);
    border-radius: 5px;
  }
}

.block-left{
  padding: 20px 0 0;
  overflow-y: auto;
  height: calc(100vh - 70px);

  h3 {
    line-height: 30px;
    margin: 0 0 40px;
  }
}

.block-right {
  padding: 0;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.text-and-author{
  margin: 20px 0;
  position: relative;
}

.sidebar-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.author-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba($yellow, 0.4);

  .author-name {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
  }
}

.interaction-buttons{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .fb_reset {
    margin-left: 10px;
  }
}

.wishlist-btn {
  span {
    position: relative;
    top: -3px;
    right: 5px;
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 600;
  }
}

.experience-header{
  display: flex;
  justify-content: space-between;

  .title{
  }

  .rating{
    position: relative;
    flex-basis: 95px;
    flex-shrink: 0;
  }
}

.experience-description{
  padding: 50px;
}

@media (max-width: 600px) {
  .bookmark {
    display: none;
  }
}

.bookmark {
  font-size: 18px;
}

.experience-wrapper{
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  .experience-content{
    width: 100%;
    display: flex;
    justify-content: space-between;

    .experience-info{
      width: 50%;
      display: flex;
      justify-content: space-between;

    }
  }
}

.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;
}
.modal-backdrop{
    z-index: 10;
}


.pictures{
  padding: 0;
  width: 100%;
  height: 325px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;

  img{
    width: 100%;
    height: 325px;
    object-fit: cover;
  }

  img:not(.main-picture){
    border: 1px solid rgba(#aaa, 0.5);
    cursor: pointer;
    width: 25%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .sub-pictures {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
  }
}
