// Place all the styles related to the Experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-wrapper{
  height: 200px;
  margin: 0 -15px;
}

.scrolling{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

.block-left{
  overflow-y: auto;
  // height: 100%;
}

.text-and-author{
  margin: 20px 0;
}

.sidebar-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .author-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .interaction-buttons{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    height: 20%;
  }
}

.experience-text{
  padding-left: 40px;

  .experience-header{

    justify-content: space-between;
    font-size: 16px;
    line-height: 30px;

    .title{
      font-size: 16px;
    }

    .rating{
      position: relative;
      color: black;
      width: 100px;
      margin-left: 25px;
    }


    h3 {
      line-height: 30px;
      margin: 0;
    }
  }

  .experience-description{
    padding: 50px;
  }
}



.experience-wrapper{
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  .experience-content{
    width: 100%;
    display: flex;
    justify-content: space-between;

    .experience-info{
      width: 50%;
      display: flex;
      justify-content: space-between;



    }
  }
}


  .pictures{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #eee;
    border: #aaa solid 1px;
    align-content: space-between;

    img{
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    img:not(.main-picture){
      border: 1px solid rgba(#aaa, 0.5);
      cursor: pointer;
      width: 15%;
      height: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

