// Place all the styles related to the Experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #F4F4F4;
}

.map-wrapper{
  height: 325px;
  margin: 0 -15px;

}

.search-form {
  padding: 0;
  margin-top: 30px;

  .search-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: rgba(252,227,138,0.4);
    border-radius: 5px;
  }

  .index-search-field {
    input[type="text"] {
      padding: 8px 20px;
      width: 320px;
    }

    input[type="submit"] {
      width: 150px;
      text-transform: uppercase;
      font-weight: 600;
      background-color: #F38181;
      border: 1px solid #F38181;
      color: #fff;
      text-shadow: none;
      @include transition(all, 0.3s, ease-in-out);

      &:hover {
        background-color: rgba(243, 129, 129, 0.74);
      }
    }
  }
}



.block-left{
  padding: 0;
  overflow-y: scroll;
  height: calc(100vh - 70px);
}

.block-right {
  padding: 0;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.text-and-author{
  margin: 20px 0;
  position: relative;
}

.sidebar-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
}

.author-details{
  display: flex;
  flex-direction: column;
  // align-items: center;
  // text-align: center;
  margin: 20px;
  padding: 10px;
}

.interaction-buttons{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  height: 20%;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.experience-text{
  padding-left: 40px;

  .experience-header{

    justify-content: space-between;
    font-size: 16px;
    line-height: 30px;

    .title{
      font-size: 16px;
    }

    .rating{
      position: relative;
      color: black;
      width: 100px;
      margin-left: 25px;
    }


    h3 {
      line-height: 30px;
      margin: 0;
    }
  }

  .experience-description{
    padding: 50px;
  }
}



.experience-wrapper{
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  .experience-content{
    width: 100%;
    display: flex;
    justify-content: space-between;

    .experience-info{
      width: 50%;
      display: flex;
      justify-content: space-between;

    }
  }
}


.pictures{
  padding: 0;
  width: 100%;
  height: 325px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;

  img{
    width: 100%;
    height: 325px;
    object-fit: cover;
  }

  img:not(.main-picture){
    border: 1px solid rgba(#aaa, 0.5);
    cursor: pointer;
    width: 15%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.sub-picture {
  position: absolute;
  bottom: 0;
}

