// Place all the styles related to the roadmaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "roadmaps/include";

center {
  display: flex;
  justify-content: center;
}
.experience{
  margin: 20px;
  position: relative;
}
.new-body {
  margin-top: 25px;
}
a.add-experience {
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  right: 20px;
  top: 30px;
  color: white;
}
.experience-card {
  height: 200px;
  width: 100%;
  font-weight: bold;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  text-shadow: 0 0 2px rgba(#000, 0.7);
  p {
  }
  img {
    width: 100%
  }
}

.search-center h2{
  margin-top: 11px;
  color: $red;
}

.polaroid-center {
  display: flex;
  justify-content: center;
}

.roadmap-edit {
  font-size: 30px;
  color: black;
  // position: absolute;
  // top: 40px;
  // right: 40px;

  &:hover{
    color: $blue;
  }
}

//.city{
  //position: relative;

//  &::after {
  //content: "<i class=\"fa fa-long-arrow-right\"></i>";
//  position: absolute;
  //right: -15px;
//  }
//}
