<% if @activity.errors.any? %>
  console.log("Errors in activity.");
  raise
<% else %>
  console.log("Appending activity.");
  $('.to-see').append("<li>"+"<%= @experience.title %>"+"<%= j link_to(icon('times'), activity_path(@activity), method: :delete, remote: true, class: "remove-experience-#{@activity.id}")%>"+"</li>");
<% end %>
